
::selection {
    background: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table th, table td { padding: 5px; text-align: center; }
/* bars */
table th div.content_bar { width: 100%; display: inline-block; background: rgba(200,200,200,0.2); height: 15px; text-align: left;}
table th div.bar {  height: 15px; display: inline-block; }

table tr td .btn { padding: 3px; cursor: pointer;}
table td.same { background: #dadada;}
table td div.paso_bar { height: 20px;}

/*
// si quiero esconder columnas de los que no entraron
*/
/*
*/
.column_3214, .column_3243, .column_3185, .column_3261, .column_3234, .column_3253, .column_3018, .column_3217, .column_3172 {display: none}
